
.textarea-block { position: relative; }

.textarea-block + .textarea-block { margin-top: 1.4rem; }

.textarea-block label { font-size: 1.4rem; }

.textarea-block textarea {
  width: 100%;
  min-height: 8rem;
  height: 16rem;

  background-color: var(--color-textarea-background);

  font: 1.6rem Archivo;

  border-radius: 0.8rem;
  border: 1px solid var(--color-line-in-white);
  outline: none;

  resize: vertical;

  margin-top: 0.8rem;
  padding: 1.2rem 1.6rem;
}

.textarea-block:focus-within::after {
  content: "";

  width: calc(100% - 3.2rem);
  height: 2px;

  background-color: var(--color-primary-light);
  
  position: absolute;
  left: 1.6rem;
  right: 1.6rem;
  bottom: 7px;
}